<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.salukiwrite" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Write Lounge</name>
    <description>
        Develop as a stronger writer and connect with other writers and writing centers across many American universities.
    </description>
    <author email="rcalton@siu.edu" href="http://rhetcomp.us">
        Robert N. Calton
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
